.cella
{
  width: 30px;
  height: 30px;
  display: block;
  background-color: #2a9d8f;
  text-align: center;
}
.cella:hover{
  background-color: #24877B;
}
.cella:active{
  background-color: #1E7067;
}

.grid{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.row{
  display: flex;
  flex-direction: row;
}


.scoperta{
  background-color: #73DACE;

}

.loose{
  background-color: red;
}

.loose:hover{
  background-color: rgb(124, 0, 0);
}